<h1> Employee Show</h1>
<p>Name: <%= @employee.to_s %></p>
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %> </p>
<%= image_tag(@employee.img_url) %>

